{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
<div class="col-12 col-sm-12 col-lg-12 login-form">
    <form  method="POST">
        {{ form.hidden_tag() }}
		<div class="avatar">

		</div>
        <h2 class="text-center">Login Korisnika</h2>
        <div class="form-group">
        	{{ form.email(class='form-control', placeholder='Email' )}}
        </div>
		<div class="form-group">
            {{ form.password(class='form-control', placeholder='Password' )}}
        </div>
        <div class="form-group">
            {{ form.submit( class='btn btn-primary btn-lg btn-block' ) }}
        </div>
		<div class="bottom-action clearfix">

            <a href="{{ url_for('users.password_reset') }}" class="float-right">Izgubili ste lozinku ?</a>
        </div>
    </form>
    <p class="text-center small">Nemate account ? <a href="{{ url_for('users.register') }}">Registruj se !</a></p>
</div>
</div>
{% endblock %}