{% extends 'base.html' %}

{% block content %}
<div class="container">
  <hr class="m-0">

  <div class="container">
    <div class="text-center py-5">
      <img src="https://cdn.onlinewebfonts.com/svg/img_173956.png" alt class="ui-w-100 rounded-circle"
           style="height: 100px; width: 100px">

      <div class="col-md-8 col-lg-6 col-xl-5 p-0 mx-auto">
        <h4 class="font-weight-bold my-4">{{ user.ime|title}} {{user.prezime|title}}</h4>

        <div class="text-muted mb-4">
          Lorem ipsum dolor sit amet, nibh suavitate qualisque ut nam. Ad harum primis electram duo, porro principes ei
          has.
        </div>
      </div>

      <div class="text-center">
        <a href="#" class="btn icon-btn borderless btn-outline-twitter btn-lg btn-round" data-toggle="modal"
           data-target="#exampleModal">
          Privatnost
        </a>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-user"></i>
					</span>
                    </div>
                    {{ form.ime( class='form-control')}}
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-user"></i>
					</span>
                    </div>
                    {{ form.prezime( class='form-control')}}
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-envelope"></i>
					</span>
                    </div>
                    {{ form.email( class='form-control')}}
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-globe"></i>
					</span>
                    </div>
                    {{ form.grad( class='form-control')}}
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-id-card"></i>
					</span>
                    </div>
                    {{ form.jmbg( class='form-control')}}
                  </div>
                    <div class="input-group">
                    <div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-phone"></i>
					</span>
                    </div>
                    {{ form.kontakt_tel( class='form-control')}}
                  </div>
                </div>
                </form>
              </div>
              <hr>
              <p>Ukoliko zelite promijeniti Vasu lozinku kliknite na <a href="{{ url_for('users.password_reset')}}">link</a></p>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {{ form.submit() }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="m-0">

  <ul class="nav nav-tabs tabs-alt justify-content-center">
    <li class="nav-item">
      <a class="nav-link py-4 active" href="#">Porez</a>
    </li>
  </ul>

</div>

{% endblock %}