{% extends 'base.html' %}

{% block content %}
{% if form.password.errors %}
{% for error in form.password.errors %}
    <div class="alert alert-warning alert-dismissible text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{error}}
    </div>
{% endfor  %}
{% endif %}
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{{url_for('core.index')}}">Home</a></li>
          <li>Register</li>
        </ol>
        <h2>Register</h2>

      </div>
    </section>
<div class="container-fluid">

	<div class="col-12 col-sm-12 col-lg-12 signup-form">
		<form method="POST">
			<h2>REGISTRACIJA</h2>
			<p>Ispunite podatke u ovoj formi da bi ste se registrovali.</p>
			<hr>
			{{ form.hidden_tag() }}
			<div class="form-group">
				<div class="input-group">
					<div class="row">
						<div class="col-6">
							{{ form.ime( class='form-control', placeholder='Ime', required='required' ) }}
						</div>
						<div class="col-6">
							{{ form.prezime( class='form-control', placeholder='Prezime' ) }}
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
				<span class="input-group-text">
					<i class="fa fa-envelope"></i>
				</span>
					</div>
					{{ form.email( class='form-control', placeholder='Email' ) }}
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
				<span class="input-group-text">
					<i class="fa fa-lock"></i>
				</span>
					</div>
					{{ form.password( class='form-control', placeholder='Lozinka' ) }}
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
				<span class="input-group-text">
					<i class="fa fa-lock"></i>
				</span>
					</div>
					{{ form.confirm_pass( class='form-control', placeholder='Ponovite Lozinku' ) }}
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
				<span class="input-group-text">
					<i class="fas fa-globe"></i>
				</span>
					</div>
					{{ form.grad( class='form-control', placeholder='Ime Grada') }}
				</div>
			</div>
			<div class="form-group">
				<label class="form-check-label"><input type="checkbox" required="required"> I accept the <a
						href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
			</div>
			<div class="form-group">
				{{ form.submit(class="btn btn-primary btn-lg") }}
			</div>
		</form>
		<div class="text-center">Posjedujete Account ? <a href="{{ url_for('users.login') }}">Login here</a></div>
	</div>
</div>
</div>

</div>


{% endblock %}
