{% extends 'base.html' %}

{% block content %}
<section id='landing' class="d-flex align-items-center position-relative img-fluid">
    <div class="container-fluid container-fluid-max">
            <div class="carousel-container" style="opacity: 1!important;">
              <div class="carousel-content">
                <h2 class="">Dobrodosli  <span>Porez.ba</span></h2>
                <p class=""><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem cumque delectus dicta dolor eum ipsa labore molestiae, nesciunt, nobis nostrum omnis quibusdam repellendus reprehenderit unde velit veniam veritatis voluptatibus voluptatum.</span></p>
                <a href="" class="btn-get-started">Saznaj Vise</a>
              </div>
            </div>
          </div>
    </div>
</section>
    <section id="featured" class="featured">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="icon-box">
              <i class="fa fa-ravelry"></i>
              <h3><a href="">Lorem Ipsum</a></h3>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="fa fa-bandcamp"></i>
              <h3><a href="">Dolor Sitema</a></h3>
              <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="fa fa-address-card-o"></i>
              <h3><a href="">Sed ut perspiciatis</a></h3>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}