{% extends 'base.html' %}

{% block content %}

    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{{url_for('core.index')}}">Home</a></li>
          <li>Password Reset</li>
        </ol>
        <h2>Password Reset</h2>

      </div>
    </section>
<section>
<div class="container">
<div class="login-form">
    <form  method="POST">
        {{ form.hidden_tag() }}
		<div class="avatar">
		</div>
        <h1 class="mt-5 text-center">Promjena Lozinke</h1>
        <div class="form-group">
        	{{ form.email(class='form-control', placeholder='Email' )}}
        </div>
        <div class="form-group">
            {{ form.submit( class='btn btn-primary btn-lg btn-block' ) }}
        </div>
    </form>
    <p class="text-center small">Nemate account ? <a href="{{ url_for('users.register') }}">Registruj se !</a></p>
</div>
</div>
{% endblock %}